cache
lib
node_modules
src
test

.editorconfig
.env
.eslintrc.json
.eslinttypescriptrc.json
.gitignore
.jestrc.json
.jesttypescriptrc.json
.lintstagedrc.json
.prettierrc.json
.typescriptrc.json
apidockerfile
citation.cff
codeowners
docker-compose.yml
dockerfile
entrypoint.sh
license
